* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    background: #f9f9f9;
}

h1,
input,
p {
    margin: 0;
}

h1 {
    font-size: 2rem;
}

p {
    font-size: .9rem;
}

.header-items p {
    margin-top: -0.5em;
}


label {
    user-select: none;
    margin-right: 10px;
}
  
.container {
    margin: 0 auto;
    max-width: 700px;
    width: 90%;
}

.header-items {
    display: grid;
    place-content: center;
    text-align: center;
    padding: 1em 0;
}

.header-title {
    color: #253B80;
}

.header-subheading {
    color: #2997D8;
}

.main-items {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #253B80;
    color: #f9f9f9;
    width: 80%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

}

.main-button {
    width: 20%;
}

button {
    font-weight: bold;
    border: none;
    cursor: pointer;
    background: #2997D8;
    color:#f9f9f9;
    width: 100%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 18px;
    padding: .95em 0;
}

button:hover,
.copy:hover {
    background: #F7B529;
    color: #253B80;
}

.checkbox, .length {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em 0;

}

input[type="range"] {
    -webkit-appearance: none;
    width: 150px;
    height: 5px;
    background: rgb(255, 255, 255);
    border-radius: 0px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 10px;
    background-color: #F7B529;
    overflow: visible;
    cursor: pointer;
  }

  input[type="checkbox"] {
    accent-color: #F7B529;    
}

.secondary-items {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
}

.password {
    font-size: 28px;
    margin-top: 10px;
    cursor: pointer;
    font-weight: bold;
    color: #f9f9f9;
    background: #2997D8;
    letter-spacing: 0.7px;
    border-radius: 5px;
    word-break: break-all;
    text-align: center;
    padding: 2em; 
}


.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

#char-length {
    margin-left: 10px;
}


@media (max-width: 768px) {


    .flex {
        flex-direction: column;
    }
    
    .container {
        max-width: 800px;
        width: 100%;
        margin: 0 auto;
    }

    .main-items {
        flex-direction: column;
        border-radius: 5px;
    }

    .main-button, .main-items, .secondary-items {
        width: 95%;
    }

    .main-button {
        margin-top: 0.5em;
    }

    button {
        padding: 1.5em 0;
        border-radius: 5px;
    }

    

}